In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.9/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
#Importing necessary Libraries and creating spark session
from pyspark.sql import SparkSession
from pyspark.sql.types import *
spark = SparkSession.builder.config('spark.some.config.option','some-value').getOrCreate()
spark

In [ ]:
from pyspark.sql.types import StringType, StringType, IntegerType, DoubleType, DataType, LongType

schema = StructType([
    StructField('Store', StringType(), True),
    StructField('Type',StringType(), True),
    StructField('Size',DoubleType(), True)
])

In [ ]:
df_store=spark.read.format("csv").option("header","True").schema(schema).load("stores.csv")

In [ ]:
df_store.show()

+-----+----+--------+
|Store|Type|    Size|
+-----+----+--------+
|    1|   A|151315.0|
|    2|   A|202307.0|
|    3|   B| 37392.0|
|    4|   A|205863.0|
|    5|   B| 34875.0|
|    6|   A|202505.0|
|    7|   B| 70713.0|
|    8|   A|155078.0|
|    9|   B|125833.0|
|   10|   B|126512.0|
|   11|   A|207499.0|
|   12|   B|112238.0|
|   13|   A|219622.0|
|   14|   A|200898.0|
|   15|   B|123737.0|
|   16|   B| 57197.0|
|   17|   B| 93188.0|
|   18|   B|120653.0|
|   19|   A|203819.0|
|   20|   A|203742.0|
+-----+----+--------+
only showing top 20 rows

In [ ]:
df_store.registerTempTable("store")

/usr/local/lib/python3.9/dist-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [ ]:
spark.sql("select * from store").show(5)

+-----+----+--------+
|Store|Type|    Size|
+-----+----+--------+
|    1|   A|151315.0|
|    2|   A|202307.0|
|    3|   B| 37392.0|
|    4|   A|205863.0|
|    5|   B| 34875.0|
+-----+----+--------+
only showing top 5 rows

In [ ]:
from pyspark.sql.types import StringType, StringType, IntegerType, DoubleType, DateType, LongType

schema1 = StructType([
    StructField('Index', IntegerType(), True),
    StructField('Store', IntegerType(), True),
    StructField('Date',DateType(), True),
    StructField('Store_Weekly_Sales',DoubleType(), True),
    StructField('Temperature',DoubleType(), True),
    StructField('Fuel_Price', DoubleType(), True),
    StructField('CPI',DoubleType(), True),
    StructField('Unemployment',DoubleType(), True),
    StructField('IsHoliday', StringType(), True),
    StructField('Week',IntegerType(), True),
    StructField('Month',IntegerType(), True),
    StructField('Year', IntegerType(), True),
    StructField('Quarter',IntegerType(), True),
    StructField('MarkDown',DoubleType(), True)
])

In [ ]:
df_Sale_Store=spark.read.format("csv").option("header","True").schema(schema1).load("store_sales.csv")

In [ ]:
df_Sale_Store.show()

+-----+-----+----------+------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+------------------+
|Index|Store|      Date|Store_Weekly_Sales|Temperature|Fuel_Price|        CPI|Unemployment|IsHoliday|Week|Month|Year|Quarter|          MarkDown|
+-----+-----+----------+------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+------------------+
|    0|    1|2010-02-05|         1643.6909|      42.31|     2.572|211.0963582|       8.106|    False|   5|    2|2010|      1|23398.127598566305|
|    1|    1|2010-02-12|1641.9574400000001|      38.51|     2.548|211.2421698|       8.106|     True|   6|    2|2010|      1|23398.127598566305|
|    2|    1|2010-02-19|        1611.96817|      39.93|     2.514|211.2891429|       8.106|    False|   7|    2|2010|      1|23398.127598566305|
|    3|    1|2010-02-26|        1409.72759|      46.63|     2.561|211.3196429|       8.106|    False|   8|    2|2010|      1|23398.127598566305|
|    4|    1|2010-03-05|1554.8066800000001|       46.5|     2.625|211.3501429|       8.106|    False|   9|    3|2010|      1|23398.127598566305|
|    5|    1|2010-03-12|        1439.54159|      57.79|     2.667|211.3806429|       8.106|    False|  10|    3|2010|      1|23398.127598566305|
|    6|    1|2010-03-19|        1472.51579|      54.58|      2.72| 211.215635|       8.106|    False|  11|    3|2010|      1|23398.127598566305|
|    7|    1|2010-03-26|        1404.42992|      51.45|     2.732|211.0180424|       8.106|    False|  12|    3|2010|      1|23398.127598566305|
|    8|    1|2010-04-02|        1594.96828|      62.27|     2.719|210.8204499|       7.808|    False|  13|    4|2010|      2|23398.127598566305|
|    9|    1|2010-04-09|        1545.41853|      65.86|      2.77|210.6228574|       7.808|    False|  14|    4|2010|      2|23398.127598566305|
|   10|    1|2010-04-16|        1466.05828|      66.32|     2.808|   210.4887|       7.808|    False|  15|    4|2010|      2|23398.127598566305|
|   11|    1|2010-04-23|        1391.25612|      64.84|     2.795|210.4391228|       7.808|    False|  16|    4|2010|      2|23398.127598566305|
|   12|    1|2010-04-30|        1425.10071|      67.41|      2.78|210.3895456|       7.808|    False|  17|    4|2010|      2|23398.127598566305|
|   13|    1|2010-05-07|1603.9551199999999|      72.55|     2.835|210.3399684|       7.808|    False|  18|    5|2010|      2|23398.127598566305|
|   14|    1|2010-05-14|         1494.2515|      74.78|     2.854|210.3374261|       7.808|    False|  19|    5|2010|      2|23398.127598566305|
|   15|    1|2010-05-21|        1399.66207|      76.44|     2.826|210.6170934|       7.808|    False|  20|    5|2010|      2|23398.127598566305|
|   16|    1|2010-05-28|        1432.06995|      80.44|     2.759|210.8967606|       7.808|    False|  21|    5|2010|      2|23398.127598566305|
|   17|    1|2010-06-04|        1615.52471|      80.69|     2.705|211.1764278|       7.808|    False|  22|    6|2010|      2|23398.127598566305|
|   18|    1|2010-06-11|        1542.56109|      80.43|     2.668|211.4560951|       7.808|    False|  23|    6|2010|      2|23398.127598566305|
|   19|    1|2010-06-18|        1503.28406|      84.11|     2.637|211.4537719|       7.808|    False|  24|    6|2010|      2|23398.127598566305|
+-----+-----+----------+------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+------------------+
only showing top 20 rows

In [ ]:
df_Sale_Store.registerTempTable("store_sale")

In [ ]:
spark.sql("select * from store_sale").show(5)

+-----+-----+----------+------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+------------------+
|Index|Store|      Date|Store_Weekly_Sales|Temperature|Fuel_Price|        CPI|Unemployment|IsHoliday|Week|Month|Year|Quarter|          MarkDown|
+-----+-----+----------+------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+------------------+
|    0|    1|2010-02-05|         1643.6909|      42.31|     2.572|211.0963582|       8.106|    False|   5|    2|2010|      1|23398.127598566305|
|    1|    1|2010-02-12|1641.9574400000001|      38.51|     2.548|211.2421698|       8.106|     True|   6|    2|2010|      1|23398.127598566305|
|    2|    1|2010-02-19|        1611.96817|      39.93|     2.514|211.2891429|       8.106|    False|   7|    2|2010|      1|23398.127598566305|
|    3|    1|2010-02-26|        1409.72759|      46.63|     2.561|211.3196429|       8.106|    False|   8|    2|2010|      1|23398.127598566305|
|    4|    1|2010-03-05|1554.8066800000001|       46.5|     2.625|211.3501429|       8.106|    False|   9|    3|2010|      1|23398.127598566305|
+-----+-----+----------+------------------+-----------+----------+-----------+------------+---------+----+-----+----+-------+------------------+
only showing top 5 rows

In [ ]:
#. Number of stores in each store Type

q1=spark.sql("Select Type, count(store) store_count from store group by Type order by store_count  desc")
q1.show()

+----+-----------+
|Type|store_count|
+----+-----------+
|   A|         22|
|   B|         17|
|   C|          6|
+----+-----------+

In [ ]:
#Total sale by store 

q2=spark.sql("select Store, sum(Store_Weekly_Sales) from store_sale group by Store")
q2.show()

+-----+-----------------------+
|Store|sum(Store_Weekly_Sales)|
+-----+-----------------------+
|   31|     199613.90549999994|
|   34|     138249.76299999998|
|   28|     189263.68057999987|
|   26|           143416.39379|
|   27|     253855.91687999998|
|   44|      43293.08784000002|
|   12|           144287.23015|
|   22|     147075.64856999996|
|    1|     222402.80884999997|
|   13|      286517.7037999999|
|    6|     223756.13063999993|
|   16|      74252.42540000002|
|    3|      57586.73506999998|
|   20|      301397.7924599999|
|   40|     137870.30979000003|
|    5|      45475.68889999999|
|   19|            206634.8621|
|   41|      181341.9348900001|
|   15|      89133.68392000001|
|   43|      90565.43540999998|
+-----+-----------------------+
only showing top 20 rows

In [ ]:
# Top 10 stores which are making the highest Sales.

spark.sql("select Store, sum(Store_Weekly_Sales) as Store_sales from store_sale group by Store order by Store_sales Desc limit 10").show()

+-----+------------------+
|Store|       Store_sales|
+-----+------------------+
|   20| 301397.7924599999|
|    4| 299543.9533800001|
|   14| 288999.9113400001|
|   13| 286517.7037999999|
|    2|275382.44098000013|
|   10|271617.71389000013|
|   27|253855.91687999998|
|    6|223756.13063999993|
|    1|222402.80884999997|
|   39|207445.54247000004|
+-----+------------------+

In [ ]:
#Bottom 10 stores which are making the highest Sales.

spark.sql("select Store, sum(Store_Weekly_Sales) as salesByStores from store_sale group by Store order by salesByStores limit 10").show()

+-----+-----------------+
|Store|    salesByStores|
+-----+-----------------+
|   33|37160.22195999999|
|   44|43293.08784000002|
|    5|45475.68889999999|
|   36|53412.21496999999|
|   38|55159.62641999997|
|    3|57586.73506999998|
|   30|62716.88512000001|
|   37|74202.74032000006|
|   16|74252.42540000002|
|   29|77141.55430999999|
+-----+-----------------+

In [ ]:
#Q5. What is the max sales per week?
spark.sql("select Store, max(Store_Weekly_Sales) as max_sale from store_sale group by Store").show()

+-----+----------+
|Store|  max_sale|
+-----+----------+
|   31|2068.94297|
|   34|1620.74825|
|   28|2026.02639|
|   26|1573.98247|
|   27|3078.16208|
|   44| 376.23389|
|   12|1768.24989|
|   22|1962.44504|
|    1| 2387.9502|
|   13| 3595.9032|
|    6|2727.57518|
|   16|1004.73069|
|    3| 605.99041|
|   20|3766.68743|
|   40|1648.82918|
|    5| 507.90007|
|   19|2678.20642|
|   41|2263.72268|
|   15|1368.31817|
|   43| 725.04304|
+-----+----------+
only showing top 20 rows

In [ ]:
# What is the min weekly sales?
spark.sql("select Store, min(Store_Weekly_Sales) as min_sale from store_sale group by Store").show()

+-----+-----------------+
|Store|         min_sale|
+-----+-----------------+
|   31|        1198.0716|
|   34|        836.71775|
|   28|       1079.66911|
|   26|        809.83321|
|   27|       1263.53486|
|   44|        241.93711|
|   12|         802.1055|
|   22|        774.26228|
|    1|       1316.89931|
|   13|       1633.66312|
|    6|       1261.25318|
|   16|            368.6|
|    3|        339.59738|
|   20|       1761.01651|
|   40|764.0147499999999|
|    5|        260.63671|
|   19|       1181.20453|
|   41|        991.94173|
|   15|        454.18342|
|   43|        505.40585|
+-----+-----------------+
only showing top 20 rows

In [ ]:
# Total sales on week of Holiday And week of not having Holiday.

spark.sql("select IsHoliday, sum(Store_Weekly_Sales) as Sales from store_sale group by IsHoliday order by Sales limit 10").show()

+---------+------------------+
|IsHoliday|             Sales|
+---------+------------------+
|     True|505299.55155999964|
|    False| 6231919.435550011|
+---------+------------------+

In [ ]:
#Top 10 stores by Markdown.

spark.sql("select Store, sum(MarkDown) as Total_MarkDown from store_sale group by Store order by Total_MarkDown limit 10").show()

+-----+------------------+
|Store|    Total_MarkDown|
+-----+------------------+
|    3| 2862260.348637995|
|    5|2972843.5662365607|
|   16|2984541.1138351276|
|   29|2991314.4682437275|
|   34|3010289.0102508953|
|   26|3035113.5078494623|
|    9|3052297.8718279595|
|   15|3077245.3430465953|
|    7| 3103732.120645162|
|   40|3128388.5130465953|
+-----+------------------+

In [ ]:
# Find how much Sales is done per Year
spark.sql("select Year, sum(Store_Weekly_Sales) as Sales_per_Year from store_sale group by Year order by Sales_per_Year").show()

+----+------------------+
|Year|    Sales_per_Year|
+----+------------------+
|2012|2000132.8593499996|
|2010|2288886.1204099986|
|2011|     2448200.00735|
+----+------------------+

In [ ]:
from pyspark.sql.types import StringType, IntegerType, DoubleType, DateType, LongType,BooleanType

schema3 = StructType([
    StructField('Date',DateType(), True),
    StructField('Store', IntegerType(), True),
    StructField('Weekly_Sales',DoubleType(), True),
    StructField('Type',StringType(), True),
    StructField('Temperature',StringType(), True),
    StructField('Fuel_Price', DoubleType(), True),
    StructField('CPI',DoubleType(), True),
    StructField('Unemployment',DoubleType(), True),
    StructField('IsHoliday', IntegerType(), True),
    StructField('Week',IntegerType(), True),
    StructField('Month',IntegerType(), True),
    StructField('Year', IntegerType(), True),
    StructField('Quarter',IntegerType(), True),
    StructField('MarkDown',DoubleType(), True)
])

In [ ]:
df_Weekly_Sales=spark.read.format("csv").option("header","True").schema(schema3).load("weekly_sales.csv")

In [ ]:
df_Weekly_Sales.show()

+----------+-----+------------+----------+-----------+----------+--------+------------+---------+----+-----+----+-------+--------+
|      Date|Store|Weekly_Sales|      Type|Temperature|Fuel_Price|     CPI|Unemployment|IsHoliday|Week|Month|Year|Quarter|MarkDown|
+----------+-----+------------+----------+-----------+----------+--------+------------+---------+----+-----+----+-------+--------+
|2010-03-12|   32|        87.0|2010-03-12|    5083.95|      null|203007.0|       39.88|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   37|        79.0|2010-03-12|    8200.92|      null| 39910.0|       61.96|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   40|        35.0|2010-03-12|     2011.0|      null|155083.0|        35.1|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   37|        80.0|2010-03-12|   11033.67|      null| 39910.0|       61.96|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   30|        93.0|2010-03-12|   22841.38|      null| 42988.0|        57.1|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   32|        90.0|2010-03-12|   60103.03|      null|203007.0|       39.88|     null|null| null|   0|   2010|     3.0|
|2010-03-12|    1|        94.0|2010-03-12|   61326.35|      null|151315.0|       57.79|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   37|        74.0|2010-03-12|     366.04|      null| 39910.0|       61.96|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   29|         7.0|2010-03-12|   13333.77|      null| 93638.0|       43.43|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   39|         8.0|2010-03-12|   34633.86|      null|184109.0|       61.88|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   35|        11.0|2010-03-12|   13212.36|      null|103681.0|       45.98|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   31|        54.0|2010-03-12|      131.0|      null|203750.0|        57.1|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   41|        91.0|2010-03-12|   49224.45|      null|196321.0|        33.4|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   30|        28.0|2010-03-12|      174.5|      null| 42988.0|        57.1|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   32|        91.0|2010-03-12|   50447.69|      null|203007.0|       39.88|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   35|        10.0|2010-03-12|   18776.08|      null|103681.0|       45.98|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   35|        81.0|2010-03-12|   11237.06|      null|103681.0|       45.98|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   43|         2.0|2010-03-12|   21862.86|      null| 41062.0|       53.67|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   41|        93.0|2010-03-12|   29559.97|      null|196321.0|        33.4|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   42|        11.0|2010-03-12|     799.24|      null| 39690.0|       52.33|     null|null| null|   0|   2010|     3.0|
+----------+-----+------------+----------+-----------+----------+--------+------------+---------+----+-----+----+-------+--------+
only showing top 20 rows

In [ ]:
df_Weekly_Sales.registerTempTable("weekly_sale")

In [ ]:
spark.sql("select * from weekly_sale").show(5)

+----------+-----+------------+----------+-----------+----------+--------+------------+---------+----+-----+----+-------+--------+
|      Date|Store|Weekly_Sales|      Type|Temperature|Fuel_Price|     CPI|Unemployment|IsHoliday|Week|Month|Year|Quarter|MarkDown|
+----------+-----+------------+----------+-----------+----------+--------+------------+---------+----+-----+----+-------+--------+
|2010-03-12|   32|        87.0|2010-03-12|    5083.95|      null|203007.0|       39.88|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   37|        79.0|2010-03-12|    8200.92|      null| 39910.0|       61.96|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   40|        35.0|2010-03-12|     2011.0|      null|155083.0|        35.1|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   37|        80.0|2010-03-12|   11033.67|      null| 39910.0|       61.96|     null|null| null|   0|   2010|     3.0|
|2010-03-12|   30|        93.0|2010-03-12|   22841.38|      null| 42988.0|        57.1|     null|null| null|   0|   2010|     3.0|
+----------+-----+------------+----------+-----------+----------+--------+------------+---------+----+-----+----+-------+--------+
only showing top 5 rows

In [ ]:
#spark.stop()